#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=partner
Name[en_US]=Fantasia
Exec=java -jar /home/openstudiopro/Fantasia-0.9.jar
Comment[en_US]=Frontend for LinuxSampler
Name=Fantasia
Comment=Frontend for LinuxSampler
Icon=partner
