Package: openstudiomenu
Version: 0.0.1-1
Architecture: i386
Maintainer: rosea grammostola <rosea.grammostola@gmail.com>
Installed-Size: 168
Conflicts: diverts-etc++xdg++menus++applications.menu
Provides: diverts-etc++xdg++menus++applications.menu
Section: unknown
Priority: extra
Description: Small hack to reorganize the multimedia and 'audio & video' menus.
 Small hack to reorganize the multimedia and 'audio & video' menus, so you don't
 have a very long list of audio packages in your menus.
