#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=tvm-dev-pocketpc
Name[en_US]=Gmidimonitor
Exec=gmidimonitor
Comment[en_US]=Shows MIDI events
Name=Gmidimonitor
Comment=Shows MIDI events
Icon=tvm-dev-pocketpc
