#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-sound-recorder
Name[en_US]=Jack-capture
Exec=jack_capture_gui2
Comment[en_US]=Program for recording soundfiles with jack
Name=Jack-capture
Comment=Program for recording soundfiles with jack
Icon=gnome-sound-recorder
