#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .openstudio
DEB_DIVERT_FILES_openstudio-menu += \
        /etc/xdg/menus/applications.menu.openstudio

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk



# Add here any variable or target overrides you need.
