#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=qtcs
Name[en_US]=QuteCsound
Exec=qutecsound
Comment[en_US]=Frontend for Csound
Name=QuteCsound
Comment=Frontend for Csound
Icon=qtcs
