Source: openstudiomenu
Section: unknown
Priority: extra
Maintainer: rosea grammostola <rosea.grammostola@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), config-package-dev (>=4.5~)
Standards-Version: 3.8.3

Package: openstudiomenu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Small hack to reorganize the multimedia and 'audio & video' menus.
 Small hack to reorganize the multimedia and 'audio & video' menus, so you don't
 have a very long list of audio packages in your menus.

