#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Hexter
Comment=Yamaha DX7 modeling DSSI plugin
Exec=ghostess hexter.so
Icon=hexter
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;Audio;
